.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px 0;
    width: 50%;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}

.form-label {
    max-width: 25%;
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 60%;
    width: 100%;
}

.buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    align-self: flex-end;
    padding: 4px 24px;
}

.error {
    color: red;
    font-size: 14px;
}

.form-additional {
    text-align: end;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
